[submodule "xmd/ext/cub"]
	path = xmd/ext/cub
	url = https://github.com/NVIDIA/cub
[submodule "xmd/ext/thrust"]
	path = xmd/ext/thrust
	url = https://github.com/NVIDIA/thrust
[submodule "xmd/ext/vcl"]
	path = xmd/ext/vcl
	url = https://github.com/vectorclass/version2
[submodule "xmd/ext/yaml-cpp"]
	path = xmd/ext/yaml-cpp
	url = https://github.com/jbeder/yaml-cpp
