{% import "meta.j2" as meta with context %}

#pragma once
#include "meta.h"

template<typename T>
struct ptr_impl {
    using type = T*;
};

template<typename T>
using ptr = typename ptr_impl<T>::type;

template<typename T>
inline T *ref_to_ptr(T &ref_) {
    return &ref_;
}

{% macro _gen_ptr(sig) %}
    ENTER_NS()
    NO_TEMPLATE()
    class {{sig.name}}##_ptr {
    public:
        inline {{sig.name}}##_ptr():
            {{sig.name}}##_ptr{nullptr} {};
        
        inline {{sig.name}}##_ptr(
            {% set comma = joiner(",") %}
            {% for T, x in sig.fields %}
                {{comma()}}ptr<{{T}}> {{x}}
            {% endfor %}
        ):
            {% set comma = joiner(",") %}
            {% for T, x in sig.fields %}
                {{comma()}}{{x}}##_ptr{{"{"}}{{x}}{{"}"}}
            {% endfor %}
        {};

        inline {{sig.name}}##_ptr(std::nullptr_t):
            {% set comma = joiner(",") %}
            {% for T, x in sig.fields %}
                {{comma()}}{{x}}##_ptr{{"{"}}nullptr{{"}"}}
            {% endfor %}
        {};
        
        inline {{sig.name}}##_ptr({{sig.name}} NO_SPEC()* ptr_):
            {% set comma = joiner(",") %}
            {% for T, x in sig.fields %}
                {{comma()}}{{x}}##_ptr{{"{"}}ref_to_ptr(ptr_->{{x}}()){{"}"}}
            {% endfor %}
        {};
        
        inline {{sig.name}}##_ref NO_SPEC() operator*() const {
            return {{"{"}}
                {% set comma = joiner(",") %}
                {% for T, x in sig.fields %}
                    {{comma()}}*{{x}}##_ptr
                {% endfor %}
            {{"}"}};
        }
        
        template<typename Idx>
        inline {{sig.name}}##_ref NO_SPEC() operator[](Idx idx) const {
            return {{"{"}}
                {% set comma = joiner(",") %}
                {% for T, x in sig.fields %}
                    {{comma()}}{{x}}##_ptr[idx]
                {% endfor %}
            {{"}"}};
        };
        
        inline operator bool() const {
            {% set T1, x1 = sig.fields[0] %}
            return {{x1}}##_ptr;
        }

        template<typename Offset>
        inline {{sig.name}}##_ptr NO_SPEC() operator+(Offset off) const {
            return {
                {% set comma = joiner(",") %}
                {% for T, x in sig.fields %}
                    {{comma()}}{{x}}##_ptr + off
                {% endfor %}
            };
        }

        template<typename Offset>
        inline {{sig.name}}##_ptr NO_SPEC()& operator+=(Offset off) {
            {% for T, x in sig.fields %}
                {{x}}##_ptr += off;
            {% endfor %}
            return *this;
        }

        template<typename Offset>
        inline {{sig.name}}##_ptr NO_SPEC() operator-(Offset off) const {
            return {
                {% set comma = joiner(",") %}
                {% for T, x in sig.fields %}
                    {{comma()}}{{x}}##_ptr - off
                {% endfor %}
            };
        }

        template<typename Offset>
        inline {{sig.name}}##_ptr NO_SPEC()& operator-=(Offset off) {
            {% for T, x in sig.fields %}
                {{x}}##_ptr -= off;
            {% endfor %}
            return *this;
        }

    public:
        {% for T, x in sig.fields %}
            ptr<{{T}}> {{x}}##_ptr;
        {% endfor %}
    };
    LEAVE_NS()

    NO_TEMPLATE()
    inline NS_PREFIX() {{sig.name}}##_ptr NO_SPEC() ref_to_ptr(NS_PREFIX() {{sig.name}}##_ref NO_SPEC() const& ref_) {
        return {
            {% set comma = joiner(",") %}
            {% for T, x in sig.fields %}
                {{comma()}}ref_to_ptr(ref_.{{x}}())
            {% endfor %}
        };
    }

    NULL_SPEC()
    struct ptr_impl<NS_PREFIX() {{sig.name}} NO_SPEC()> {
        using type = NS_PREFIX() {{sig.name}}##_ptr NO_SPEC();
    };
{% endmacro %}

{{meta.macro_v("GEN_PTR", _gen_ptr)}}